.edit-container {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding-top: 10px;
    width: 35%;
    height: auto;
    border-radius: 10px;
    border-top: 30px solid #454b6d;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(24, 24, 31, 0.19);
}

.form-control {
    display: grid;
    grid-template-columns: 45% 53%;
    margin-top: 15px;
    grid-gap: 2%;
}

.label-div {
    padding-right: 20px;
    text-align: right;
}

.form-input select,
.form-input input {
    width: 85%;
}

.form-errors {
    margin: 20px auto 15px auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    background-color: #ffa4a4;
    color: #e42f2f;
    width: 90%;
}

.form-submit {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 10px;
}

.form-submit .disabled {
    background-color: #7178a5;
}

.form-submit .disabled:hover {
    cursor: not-allowed;
}

.form-submit button {
    color: white;
    background-color: #454b6d;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 6px 10px;
    letter-spacing: 0.8px;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.3s;
}

.form-submit button:hover {
    box-shadow: 0px 5px 20px 0px #18181f33;
}