.edit-container {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding-top: 10px;
    width: 40%;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(to left, white 50%, rgba(233, 100, 67, 0.9) 50%), url('n34.jpg');
    background-size: contain;
    box-shadow: 5px 9px 19px 0px rgba(24, 24, 31, 0.19);
}

.form-control {
    display: grid;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    grid-template-columns: 50% 45%;
    margin-top: 45px;
    grid-gap: 2%;
}

.label-div {
    padding-right: 20px;
    text-align: right;
}

.form-input select,
.form-input input {
    width: 100%;
    height: 30px;
    outline: none;
    /* padding-top: 3%; */
    border: 0.5px solid #e96443;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
}

.form-errors {
    margin: 20px auto 15px auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    background-color: #ffa4a4;
    color: #e42f2f;
    width: 90%;
}

.form-submit {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 10px;
}

.form-submit .disabled {
    background-color: white;
    color: #e96443;
    border: 0.8px solid #e96443;
    border-radius: 25px;
    box-shadow: 0px 5px 20px 0px #18181f33;
    font-size: 18px;
    padding: 6px 10px;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.3s;
}

.form-submit .disabled:hover {
    cursor: not-allowed;
}

.form-submit button {
    background-color: #e96443;
    color: white;
    border: 0.8px solid #e96443;
    border-radius: 25px;
    box-shadow: 0px 5px 20px 0px #18181f33;
    font-size: 18px;
    padding: 6px 10px;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.3s;
}

.form-submit button:hover {
    box-shadow: 0px 5px 20px 0px #18181f33;
}