.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    letter-spacing: 1px;
    padding: 0 25px;
    height: 80px;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.19);
}

.header-name {
    color: #e96443;
    font-size: 160%;
    text-transform: uppercase;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.header-name div {
    display: inline-block;
}

.header-link {
    width: 15%;
    height: 50%;
    margin-right: 2%;
    line-height: 250%;
    transition: 0.45s;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.8px solid black;
    color: black
}

.header-link.active {
    background-color: #e96443;
    border: 0.8px solid #e96443;
    color: white;
}

.header-link:hover {
    cursor: pointer;
    border: 0.8px solid #e96443;
}