.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2196f3;
    letter-spacing: 1px;
    padding: 0 25px;
    height: 80px;
}


.header-link {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 480%;
    transition: 0.2s;
}

.header-link {
    color: white;
    text-decoration: none;
}

.header-link.active {
    background-color: #42a6f5;
    text-decoration: underline;
}

.header-link:hover {
    cursor: pointer;
    background-color: #42a6f5;
}